html {
	position: relative;
	min-height: 100%;
}

body{
	/* Margin bottom by footer height */
	margin-bottom: 62px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 62px;
	background-color: #2e4174;	 
	color:#fff;  			
}

footer p{
	margin:0;
	padding-top:10px;
}

footer p.text-center.small{
	height: 31px;
}	
